<div class="container">

  <div class="border m-3 p-2">
    <h1>My Tasks</h1>
  </div>

  <% @tasks.each do |task| %>
  <div class="border m-3 p-2">
    <h2> - <%= link_to task.title, task_path(task.id) %></h2>
    <% if task.completed %>
      <i class="fa fa-check-square-o"></i> Complete
    <% else %>
      <i class="fa fa-square-o"></i> Incomplete
    <% end %>
    <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>


  </div>
  <% end %>

  <div class="border m-3 p-2">
    <%= link_to new_path do %>
      <i class="fa fa-plus"></i> Add new task
    <% end %>
  </div>

</div>


